.main {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #FFF 50%, #FFF3EB 50%);    
}

.main__img {
    width: 60%;
    height: auto;
}

.main__start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem;
}

.main__start_title {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 116%;
}

.main__start_btn {
    width: 296px;
    height: 64px;
    background: #FF8B37;
    border-radius: 12px;
    color: #FFF;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
}

.main__start_btn:hover {
    background: #FFAC70;
}

.main__start_btn:active {
    background: #E87928;
}

@media screen and (max-width: 820px) {
    .main {
        flex-direction: column;
    }
    .main__start {
        align-items: center;
        justify-content: center;
    }
    .main__start_title {
        text-align: center;
    }
}

@media screen and (max-width: 620px) {
    .main__img {
        width: 100%;
    }
}

@media screen and (max-width: 280px) {
    .main__start_btn {
        width: 80%;
    }
}