.board {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
}

.board__game {
    width: 1100px;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.board__icon {
    display: none;
}

.board__icon_close {
    display: none;
}

.board__question {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 2rem;
    text-align: center;
}

.board__answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
}

.board__answer_btn {
    display: flex;
    align-self: start;
    border: 1px solid #D0D0D8;
    border-radius: 20px;
    background-color: #fff;
    width: 400px;
    padding: 10px;
    margin: 10px 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    cursor: pointer;
}

.board__answer_btn:hover {
    border: 1px solid #FF8B37;
}

.board__answer_btn:active {
    background-color: #FFF3EB;
    border: 1px solid #FF8B37;
}

.board__answer_btn.correct_answer {
    background-color: #E6FAEA;
    border: 1px solid #47D867;
}

.board__answer_btn.wrong_answer {
    background-color: #FDEEED;
    border: 1px solid #EC6259;
}

.board__answer_letter {
    color: orange;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
}

.board__answer {
    margin: 0;    
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    margin-right: 10px;
}

.board__steps {
    width: 376px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__steps_list {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding: 0;
}

.board__steps_item  {
    margin-top: 8px;
    padding: 5px 50px;
    border: 1px solid #D0D0D8;
    border-radius: 20px;
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
}

.finished_step {
    color: #D0D0D8;
}

.board__steps_item.current_step {
    color: #FF8B37;
    border: 1px solid #FF8B37;
}



@media screen and (max-width: 860px) {
    .board__steps {
        display: none;
    }
    .board__icon {
        width: 30px;
        height: 35px;
        border: none;
        background-color: #e5e5e5;
        display: inline-block;
        top: 15px;
        right: 15px;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .board__icon_close {
        width: 30px;
        height: 35px;
        border: none;
        background-color: #e5e5e5;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        cursor: pointer;
        display: inline-block;
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .board__steps_active {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color:#e5e5e5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    .board__game {
        width: 100%;
    }
    .board__answer_btn {
        width: 100%;
        margin: 10px 20px;
    }
}